*.gitignore filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/golang-oracle/Dockerfile filter=lfs diff=lfs merge=lfs -text
/golang-oracle/instantclient_12_1/BASIC_README filter=lfs diff=lfs merge=lfs -text
/golang-oracle/instantclient_12_1/adrci filter=lfs diff=lfs merge=lfs -text
/golang-oracle/instantclient_12_1/genezi filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
/golang-oracle/instantclient_12_1/sdk/SDK_README filter=lfs diff=lfs merge=lfs -text
*.xsd filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
*.mk filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.typ filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
/golang-oracle/instantclient_12_1/sdk/ott filter=lfs diff=lfs merge=lfs -text
/golang-oracle/instantclient_12_1/uidrvci filter=lfs diff=lfs merge=lfs -text
/golang-oracle/makefile filter=lfs diff=lfs merge=lfs -text
*.pc filter=lfs diff=lfs merge=lfs -text
/ubuntu-oracle/Dockerfile filter=lfs diff=lfs merge=lfs -text
/ubuntu-oracle/makefile filter=lfs diff=lfs merge=lfs -text
/ubuntu-oracle/locale filter=lfs diff=lfs merge=lfs -text
